<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Git & Heroku
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Deploy my prototype</span>
      </h1>

      <h2>Setting up Git:</h2>

      <ul>
        <li>Create a new Git repository</li>
        <li>Download nhs prototype kit and drop into a new folder</li>
        <li>Open your prototype directory in the terminal (right click, open in terminal)</li>
        <li>In terminal: 
          <ul>
            <li>git status - show all new/changed files (red) </li>
            <li>git add filename - add new file (first time you can do git add * to add everything)</li>
            <li>git commit -m "message here" - commit new files to be pushed</li>
            <li>git remote add origin https//new-github-repo.url - connect your folder to the new github repo</li>
            <li>git push -u origin master - push the commits to the new repo's master branch</li>        
      </ul>

      <p> That's it for the Git setup, now to link up to Heroku</p>

      <h2>Setting up Heroku:</h2>

      <ul>
        <li> Login or make a<a href="https://www.heroku.com/"> Heroku</a> account </li>
        <li> login to the dashboard and create a new app (this will be the name in the URL)</li>
        <li> Deploy tab: Deployment method, choose git and search for your new repo to connect to, then below choose a branch and select enable automatic deployment </li>
        <li> On the settings tab, reveal Config vars and set username and password as key/values: PROTOTYPE_USERNAME: / PROTOTYPE_PASSWORD </li>
        <li> Go back to deploy tab, under Manual deploy, hit deploy branch. Once inital build is deployed, go to the url provided and you should be prompted for the username and password for your new heroku prototype! </li>
      </ul>

    </div>
  </div>
{% endblock %}
